/* Multiple Sections */
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
a{
    text-decoration: none;
}

header,
footer,
.hero-section{
    background-color: #07203a;
    color: #F9FAF8;
}
/* Header */
header{
    display: flex;
    padding: 20px 150px;
}
.logo{
    font-size: 24px;
    flex: 1;
    color: #F9FAF8;
}

.header-link{
    flex: 2;
    padding-left: 10px;
}

/* Hero Section */
.hero-section{
    display: flex;
    padding: 60px 150px;
}

.hero-section img{
    flex:1;
    width: 300px;
    height: auto;
    padding-left: 40px;
}

.hero-section div{
    flex:1;
    display: flex;
    flex-direction: column;
}


.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 40px;
}

.hero-sub-text,
.header-link{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.hero-btn{
    padding: 5px 20px;
    margin-top: 40px;
    width: 150px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    text-align: center;
    color: #F9FAF8;
    
}

/* Info Section */
.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    background-color: #1F2937;
    color: #E5E7EB;
}
.info-main-text{
    text-align: center;
    margin-bottom: 50px;
}
.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}
.info-block img{
    width: 250px;
    height: 150px;

    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E5E7EB;
    margin: 10px 0;
    
}

/* Quote section */

.quote-section{
    padding: 50px 800px;
    background-color: #b3b6bb;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author{
    text-align: right;
    font-weight: bold;
}

/* Call to action section*/
.cta-section{
    padding: 100px 150px;
    color: #F9FAF8;
    background-color: #1F2937;
}
.cta-container{
    padding: 60px 150px;
    background-color: #285aaa;
    border-radius: 5px;
    

    display: flex;
    justify-content:baseline;
}
.cta-text-container{
    flex: 4;
    
}

.cta-btn{
    flex: 1;
    height: min-content;
    padding: 10px;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    color: #F9FAF8;
}

/* Footer section*/

footer{
    padding: 20px 150px;
}

footer p{
    margin-top: 10px;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: lighter;
}